.continueOn {
  display: none;
}
.main {
  background-color: darkblue;
  color: white;
  /* height: 1000px; */
  text-align: center;
  padding-top: 20px;
}
.playArea {
  background-image: url(AlienBackground03.gif);
  display: flex;
  background-size: cover;
  height: 900px;
  border: solid green;
}

.playerSpace {
  width: 30%;
  border: solid blue;
  font-size: 30px;
}
.stats {
  margin: 10px;
  background-color: white;
  color: black;
  opacity: 0.65;
  text-align: center;
}
.player {
  height: 300px;
  width: 100%;
}
.alienstats {
  margin: 10px;
  background-color: white;
  color: black;
  opacity: 0.65;
  text-align: center;
}
.shoot {
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
}
.missle {
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
}
.shields {
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
.consol {
  width: 40%;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.retreat {
  height: 80px;
  font-size: 30px;
  margin-right: 20px;
}
.continue {
  height: 80px;
  font-size: 30px;
  /* width: 100px; */
}
.new {
  height: 80px;
  font-size: 30px;
  margin-right: 10px;
}
.newGame {
  display: none;
}
.alienSpace {
  width: 30%;
  border: solid blue;
  font-size: 30px;
}
.alien {
  height: 350px;
  width: 100%;
}
