.continueOn {
  display: none;
}
.logo {
  height: 250px;
  width: 50%;
}
.main {
  background-color: darkgreen;
  color: white;
  /* height: 1000px; */
  text-align: center;
  padding-top: 20px;
  height: 1250px;
}

.playArea {
  background-image: url(AlienBackground03.gif);
  display: flex;
  background-size: cover;
  /* padding-top: 10px; */
  height: 1200px;
  border: solid green;
}

.playerSpace {
  width: 30%;
  border: solid darkblue;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}
.stats {
  margin: 10px;
  background-color: lightgreen;
  color: black;
  opacity: 0.45;
  text-align: center;
  width: 70%;
}
.player {
  height: 400px;
  width: 100%;
}

.shoot {
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
  border-radius: 25px;
}
.missle {
  margin-top: 20px;
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
  border-radius: 25px;
}
.shields {
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  background-color: red;
  border-radius: 25px;
}
.consol {
  width: 40%;
  font-size: 28px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}
.retreat {
  height: 80px;
  font-size: 30px;
  margin-right: 20px;
}
.continue {
  height: 80px;
  font-size: 30px;
  /* width: 100px; */
}
.new {
  height: 80px;
  font-size: 30px;
  margin-right: 10px;
}
.newGame {
  display: none;
}
.alienSpace {
  width: 30%;
  border: solid darkblue;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}
.alien {
  height: 350px;
  width: 100%;
}
.alienstats {
  margin: 10px;
  background-color: lightgreen;
  color: black;
  opacity: 0.45;
  text-align: center;
  /* width: 50%; */
}
